.

tox
ipdb

black

flake8
flake8-import-order
flake8-black
flake8-builtins

pydocstyle
tomli
toml

check-manifest

pytest
pytest-cov
pytest-mock
pytest-xdist
coverage

https://github.com/quatrope/qafan/archive/refs/heads/master.zip

jupyterlab
tqdm

-r docs/requirements.txt